<!-- Dans le fichier favorites.hbs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voitures Favorites</title>
</head>
<body>
    <h1>Voitures Favorites</h1>
    <div class="favorite-cars">
        {{#each favoriteCars}}
            <div class="car">
                <img src="{{carCondition.image}}" alt="{{brand}} {{model}}">
                <p>Marque: {{brand}}</p>
                <p>Modèle: {{model}}</p>
                <p>Année: {{year}}</p>
                <p>Kilométrage: {{mileage}}</p>
                <p>Prix: {{price}}</p>
                <p>Description: {{description}}</p>
                <p>Contact: {{contactName}}</p>
            </div>
        {{/each}}
    </div>
</body>
</html>
