<!-- voitures-disponibles.hbs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="voitures-disponibles.css">
          <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Voitures Disponibles</title>
</head>
<body>
     <nav class="sidebar open">
    <!-- Contenu de la sidebar -->
    <header>
      <div class="image-text">
        <span class="image">
          <img src="logo.jpg" alt="">
        </span>

        <div class="text logo-text">
          <span class="name">Yvelines-Auto</span>
          <span class="profession">Concessionnaire Auto</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">

       <form action="/search" method="GET" class="search-form" id="searchForm">
       <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" id="brand" name="brand"  required>
                </li>
</form>



        <ul class="menu-links">
          <li class="nav-link">
            <a href="home">
              <i class='bx bx-home-alt icon'></i>
              <span class="text nav-text">Acceuil</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class='bx bx-heart icon'></i>
              <span class="text nav-text">Likes</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="support">
              <i class='bx bx-support icon'></i>
              <span class="text nav-text">Support</span>
            </a>
          </li>

        </ul>
      </div>

   <div class="bottom-content">
  <li class="logout">
    <a href="#">
      <i class='bx bx-log-out icon'></i>
      <span class="text nav-text">Logout</span>
    </a>
  </li>

  <li class="mode">
    <div class="sun-moon">
      <i class='bx bx-moon icon moon'></i>
      <i class='bx bx-sun icon sun'></i>
    </div>
    <span class="mode-text text">Dark mode</span>

    <div class="toggle-switch">
      <span class="switch"></span>
    </div>
  </li>
</div>

    </div>

  </nav>
  <section class="home">
    <div class = "nom">
    <h1>Voitures Disponibles à l'Achat</h1>
    </div>
    <div class="liste-voitures">
        {{#each voitures}}
    <div class="voiture">
        <a href="/car-details/{{_id}}">
            <img src="{{carCondition.image}}" alt="{{brand}} {{model}}">
        </a>
        <p>Marque: {{brand}}</p>
        <p>Modèle: {{model}}</p>
        <p>Année: {{year}}</p>
        <p>Kilométrage: {{mileage}}</p>
        <p>Prix: {{price}}</p>
        <p>Description: {{description}}</p>
        <p>Contact: {{contactName}}</p>
    </div>
{{/each}}

    </div>
    </div></section>
     <script>
    const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");
    toggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    })
    searchBtn.addEventListener("click", () => {
      sidebar.classList.remove("close");
    })
    modeSwitch.addEventListener("click", () => {
      body.classList.toggle("dark");
      if (body.classList.contains("dark")) {
        modeText.innerText = "Light mode";
      } else {
        modeText.innerText = "Dark mode";
      }
    });
  </script>

</body>
</html>
